<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/cm_common.css"/>
    <title>ログイン画面画面</title>
  </head>
  <body>
    <header class="Header">
      <div class="Header__inner">
        <div class=task_login th:text="ログイン画面"></div>
      </div>
    </header>

    <div class="container">
      <div class="subtitle">ダミー保険事務処理システム</div>
    </div>
    <h5 class="task_link"><a href="/cm/task" class="btn-flat-border btn-login">　ログイン　</a></h5>

  </body>
</html>