<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/cm_common.css"/>
    <title>保障種類選択画面</title>
  </head>
  <body>
    <header class="Header">
      <div class="Header__inner">
        <a href="/cm/task">ダミー保険事務処理システム</a>
        <div class=task_name th:text="${task_name}"></div>
        <form th:method="get" th:action="@{/cm/task}" >
          <button class="btn btn-link btn-link-return">戻る</button>
        </form>
      </div>
    </header>

    <div class="container">
      <div class="subtitle">保障種類を選択してください</div>
    </div>

    <h5 class="task_link">
      <a th:href="@{/tc/{task_link}(task_link=${task_link})}" class="btn-flat-border">定期医療</a>
    </h5>
    <h5 class="task_link">
      <a th:href="@{/tl/{task_link}(task_link=${task_link})}" class="btn-flat-border">定期生命</a>
    </h5>
    <h5 class="task_link">
      <a th:href="@{/wc/{task_link}(task_link=${task_link})}" class="btn-flat-border">終身医療</a>
    </h5>
    <h5 class="task_link">
      <a th:href="@{/wl/{task_link}(task_link=${task_link})}" class="btn-flat-border">終身生命</a>
    </h5>

  </body>
</html>