<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/cm_common.css"/>
    <title>業務選択画面</title>
  </head>
  <body>
    <header class="Header">
      <div class="Header__inner">
        <a href="/cm/task">ダミー保険事務処理システム</a>
      </div>
    </header>
    <div class="container">
      <div class="subtitle">業務を選択してください</div>
    </div>

    <h5 class="task_link"><a href="/cm/security" class="btn-flat-border">　加入　</a></h5>
    <h5 class="task_link"><a href="/cm/cancel" class="btn-flat-border">解約取消</a></h5>
    <h5 class="task_link"><a href="/cm/display" class="btn-flat-border">契約照会</a></h5>

  </body>
</html>