<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.log">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/cm_common.css" />
<link rel="stylesheet" href="/css/tl_input.css" />
<title>定期生命 確認画面</title>
</head>
<body>
	<header class="Header">
		<div class="Header__inner">
			<a href="/cm/task">ダミー保険事務処理システム</a>
		</div>
	</header>

	<Form th:method="POST" th:action="@{/tl/completion}" th:object="${tlInput}">
		<div class="screen">
			<Label class="title">定期生命 加入</Label><Label class="subTitleInput">入力</Label><Label class="subTitleConfirm" active>確認</Label><Label class="subTitleCompletion">完了</Label>
			<div class="main">
				<div class="form-group">
					<div class="column" border>
						<label class="columnName" border>被保険者氏名（漢字）</label> <Label class="columnName" padding th:text="*{insured_person_name_kanji}"></Label>
					</div>
					<div class="column" border>
						<label class="columnName" border>被保険者氏名（カナ）</label> <Label class="columnName" padding th:text="*{insured_person_name_kana}"></Label>
					</div>
					<div class="column" border>
						<label class="columnName" border>被保険者生年月日</label> <Label class="columnName" padding th:text="|*{insured_person_birth_year}年*{insured_person_birth_month}月*{insured_person_birth_day}日|"></Label>
					</div>
					<div class="column" border>
						<label class="columnName" border>被保険者性別</label> <Label class="columnName" padding th:text="*{insured_person_sex}=='1' ? '男性':'女性'"></Label>
					</div>
					<div class="column" border>
						<label class="columnName" border>加入時年齢</label> <Label th:field="*{age}" class="columnName" padding th:text="|*{age}歳|"></Label>
					</div>
				</div>
				<div class="form-group">
					<div class="column" border>
						<label class="columnName" border>加入日</label> <Label class="columnName" padding th:text="|*{start_year}年*{start_month}月*{start_day}日|"></Label>
					</div>
					<div class="column" border>
						<label class="columnName" border>払込方法</label><Label class="columnName" padding th:text="*{payment_method}=='1' ? '月払':'年払'"></Label>
					</div>
					<div class="column" border>
						<label class="columnName" border>契約期間</label> <Label class="columnName" padding th:text="*{contract_period}=='5' ? '５年':'10年'"></Label>
					</div>
					<div class="column" border>
						<label class="columnName" border>死亡保険金</label> <Label class="columnName" padding th:text="|*{insurance_money}万円|"></Label>
					</div>
					<div class="column" border>
						<label class="columnName" border>掛金</label> <Label class="columnName" padding th:text="|*{price_premium}円|"></Label>
					</div>
					<div class="line">
						<div class="buttons">
							<Button class="cancelButton" name="action" value="cancel">戻る</Button>
						</div>
						<div class="buttons">
							<Button class="confirmButton" name="action" value="completion">完了</Button>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" th:field="*{insured_person_name_kanji}">
			<input type="hidden" th:field="*{insured_person_name_kana}">
			<input type="hidden" th:field="*{insured_person_birth_year}">
			<input type="hidden" th:field="*{insured_person_birth_month}">
			<input type="hidden" th:field="*{insured_person_birth_day}">
			<input type="hidden" th:field="*{insured_person_sex}">
			<input type="hidden" th:field="*{age}">
			<input type="hidden" th:field="*{start_year}">
			<input type="hidden" th:field="*{start_month}">
			<input type="hidden" th:field="*{start_day}">
			<input type="hidden" th:field="*{payment_method}">
			<input type="hidden" th:field="*{contract_period}">
			<input type="hidden" th:field="*{insurance_money}">
			<input type="hidden" th:field="*{price_premium}">
		</div>
	</Form>
</body>
</html>