@charset "utf-8";
/*--------------------------------------------------------------------
common: 共通
----------------------------------------------------------------------*/

html{
  height: 100%;
  font-size: 62.5%;
}

body {
  min-width: 1040px;
  background: #fafafa;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Noto Sans Japanese",
              "ヒラギノ角ゴ ProN W3",Meiryo,sans-serif;
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 0.08em;
  line-height: 1.8;
  letter-spacing: .08em;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder{
  color: #bdbebd;
  opacity: 1;
}

:-ms-input-placeholder{
  color: #bdbebd;
}

::-ms-input-placeholder{
  color: #bdbebd;
}

/* 基本設定
--------------------------------------------------*/
a{
  text-decoration: underline;
  color: #0044cc;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover,
a:active{
  color: #0044cc;
  outline: none;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
a:hover{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,dl,dt,dd{
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

button{
  cursor: pointer;
}

p{
  margin: 0;
}

label{
  margin: 0;
}

/* ヘッダー
--------------------------------------------------*/
.Header{
  background: #fff;
  font-size: 2.1rem;
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-between;
  height:50px;
}
.Header__inner{
  display: flex;
  width: 100%;
  margin: 0px 20px;
  align-items: center;
  justify-content: space-between;
}
/* レイアウト
--------------------------------------------------*/
.l-base{
  width: 1040px;
  margin: 0 auto;
}

.l-base_completion{
  width: 80%;
  margin: 0 auto;
}
/* フレーム
--------------------------------------------------*/

.Box-flame{
  overflow: hidden;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  background: #fefffd;
  box-shadow: 10px 10px 8px -9px rgba(158,158,158,0.8);
}
/* タイトル
--------------------------------------------------*/
.system-name{
  height: 30px;
  background-color: green;
  color:white;
  font-size:20px;
}

.title{
  width: 100%;
  height: 70px;
  text-align:center;
  margin: 0 auto;
  color: #808080;
  margin-top: 10px;
  font-size:40px;
}
.subtitle{
  width: 100%;
  text-align:center;
  margin: 0 auto;
  color: #2e8b57;
  font-size:20px;
  font-weight:bold;
}
/*--------------------------------------------------------------------
form: フォーム共通
----------------------------------------------------------------------*/
.Form-wrap{
  width: 840px;
  margin: 0 auto;
}

.Form-search{
  width: 400px;
  margin: 0 auto;
}

.Form-wrap-list{
  width: 90%;
}

.Form-wrap_completion{
  margin: 0 auto;
}
/* テーブルレイアウト
--------------------------------------------------*/
.Form-tbl{
  width: 100%;
  background: #f4faeb;
}

.Form-tbl2{
  width: 100%;
  background: #f4faeb;
  border-collapse: initial;
}

.Form-tbl-comp{
  display:flex;
  justify-content: center;
}

.Form-tbl__tr:not(:first-of-type){
  border-top: 1px dotted #ccc;
}

.Form-wrap .Box-flame{
  border-color: #80b735;
  box-shadow: none;
}

.Form-search .Box-flame-search{
  border-color: #80b735;
  box-shadow: none;
  margin: 50px 0px 0px 0px;
}

.Form-tbl-search-error{
  width: 100%;
  background: #fafafa;
}

.Form-tbl-search-error__tr{
  height:100px;
  vertical-align:top;
}

.Form-tbl-search-error__td{
	padding-left: 26px;
}

.between-table{
  width:100px;
}

.between-cell{
  height:50px;
}

.td_completion{
  vertical-align: top;
}

.caption-com{
  caption-side: top;
  border-bottom: 1px solid #80b735;
  background: #fafafa;
  padding-left:10px;
  text-align: center;
}

.table_completion{
  margin:0 auto;
}

.Form-tbl__th,
.Form-tbl__td{
  color: #2c4318;
}
.Form-tbl__cancel__head__td{
  background: #fafafa;
}

.Form-tbl__th{
  position: relative;
  width: calc(100% - 582px);
  padding: 0 0 0 26px;
  font-weight: normal;
  vertical-align: middle;
  align-items: center;
  letter-spacing: normal;
}

.Form-tbl_search_th{
  position: relative;
   width: 100%;
  padding: 0 0 0 26px;
  font-weight: normal;
  vertical-align: middle;
  align-items: center;
  letter-spacing: normal;
}

.Form-tbl__th_comp{
  position: relative;
  width: 220px;
  padding: 0 0 0 26px;
  font-weight: normal;
  vertical-align: middle;
  align-items: center;
  letter-spacing: normal;

}
.Form-tbl__td{
  word-break: break-all;
  width: 582px;
  padding: 5px 24px;
  border-left: 1px solid #80b735;
  background: #fff;
}
.Form-tbl__cancel__td{
  word-break: break-all;
  width: 582px;
  padding: 5px 24px;
/*   border: 1px solid #80b735; */
  background: #fff;
}
.Form-search__td{
  word-break: break-all;
  padding: 5px 24px;
  border-left: 1px solid #80b735;
  background: #fff;
}

.Form-tbl__td_completion{
  word-break: break-all;
  width: 300px;
  padding: 13px 24px;
  border-left: 1px solid #80b735;
  background: #fff;
}

.Form-list__tr{
	background: #f4faeb;
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid;
}

.Form-list__th{
 border-right: 1px dotted;
}
.Form-list__td{
  text-align: center;
  border-right: 1px dotted;
  background: #fff;
}



/* レイアウト用
--------------------------------------------------*/
.Date-box{
  display: flex;
  max-width: 532px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Date-box--w02{
  margin:5px 0;
}

.Date-box--w03{
  display: flex;
  align-items: center;
}

.Date-box--w03__txt{
  display: inline-block;
  margin: 0 9px 0 8px;
}

.Date-box-cancel-title{

  text-align: left;
  margin-top: 15px;
}

.Date-box-cancel{
  margin: 2% auto;
  text-align: center;
  border: 1px solid #bfbfbf;
    border-radius: 8px;
    background: #fefffd;
    box-shadow:10px 10px 8px -9px rgb(158 158 158 / 80%);
  border-collapse: separate;

}

.Date-label-cancel{
  margin: 0px auto;
}

.Refund-label-cancel{
  margin: 3% auto;
}

.Cancel-title{
	color: #2c4318;
	height:46px;
}

.Cancel-input{
  height:41px;
}


/* フォームパーツ
--------------------------------------------------*/
.Input{
  width: 100%;
  margin: 5px 0;
  padding: 0 18px;
  border: 1px solid #3f5d26;
  border-radius: 4px;
  height:35px;
}
.Input--w01{
  width: 200px;
}
.Input--w02{
  width: 126px;
}
.Input--w03{
  width: 261px;
}

/* ラジオボタン */
.Input-radio{
  position: absolute;
  left: -9999px;
}
.Label-radio{
  display: block;
  position: relative;
  padding: 3px 10px 0 55px;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: normal;
  background: #fff;
  height:35px;
}
.Label-radio::before,
.Label-radio::after{
  display: block;
  position: absolute;
  top: 50%;
  border: 1px solid #3f5d26;
  border-radius: 50%;
  content: '';
}
.Label-radio::before{
  left: 16px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
}
.Label-radio::after{
  display: none;
}
.Input-radio:checked + .Label-radio{
  padding: 2px 13px 0 54px;
  border: 2px solid #3f5d26;
  background: #f4faeb;
}
.Input-radio:checked + .Label-radio::before{
  background: #3f5d26;
}
.Input-radio:checked + .Label-radio::after{
  display: block;
  left: 22px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  background: #fff;
}
.Input-radio:focus + .Label-radio{
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}
.Select_cancel_label{
	background:#f0fff0;
  border-radius: 4px;
  border: 1px solid #3f5d26;
}

.Select_cancel_value{
	padding: 2px;
}
.text-danger-cancel{
	text-align: center;
  font-size: 20px;
  margin: 100px auto;
  color: #dc3545!important;
}
/* 送信
--------------------------------------------------*/
.Control-area{
  position: relative;
  margin: 15px 0 66px;
  text-align: center;
}
.Control-area__btn{
  position: relative;
  width: 300px;
  /* min-height: 121px; */
  padding: 15px 0 15px;
  border: none;
  border-radius: 8px;
  background: green;
  box-shadow: 0 0 0 1px rgba(0,16,14,0.03), 0 8px 16px -4px rgba(0,16,14,0.31);
  color: #fff;
  font-size: 2.4rem;
  line-height: 1;
  transition: all .3s ease;
}

.btn-link-return{
  font-size: 2.1rem;
  margin: 0px 10px;
  padding:0rem .75rem;
}
.Control-area__btn:hover{
  opacity: .8;
}

.Form-list-area__btn{
		width:100%;
	height:100%;
  position: relative;
  /* min-height: 121px; */
  padding: 5px 0 5px;
  border: none;
  border-radius: 8px;
  background: green;
  color: #fff;
/*   font-size: 2.4rem; */
  line-height: 1;
  transition: all .3s ease;
}

.Form-list-area__btn:hover{
  opacity: .8;
}


.Control-area__btn:hover{
  opacity: .8;
}



/* 必須アイコン
--------------------------------------------------*/
.Ico-must{
  display: inline-block;
  width: 40px;
  height: 22px;
  border: 2px solid #f00;
  border-radius: 4px;
  background: #fff;
  color: #f00;
  font-size: 1.2rem;
  text-align: center;
  line-height: 18px;
}

/* レイアウト用
--------------------------------------------------*/
/* 項目名 */
.Form-name{
  display: flex;
  padding: 10px 15px 5px 0;
  justify-content: space-between;
  align-items: center;
}

/* 名前入力 */
.Date-name{
  display: flex;
  width: 254px;
  align-items: center;
  justify-content: space-between;
}

/* レイアウト用
--------------------------------------------------*/
.Date-box{
  display: flex;
  max-width: 532px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Date-box--w02{
  margin:5px 0;
}

.Date-box--w03{
  display: flex;
  align-items: center;
}

.Date-box--w03__txt{
  display: inline-block;
  margin: 0 9px 0 8px;
}

.Date-box-cancel-title{
  text-align: left;
  margin-top: 15px;
}

.Date-box-cancel{
  margin: 2% auto;
  text-align: center;
  width: 100%;
}

.Date-label-cancel{
  margin: 0px auto;
}

.Refund-label-cancel{
  margin: 3% auto;
}

.Cancel-title{
	height:46px;
}

.Cancel-input{
  height:41px;
}
/* フォームパーツ
--------------------------------------------------*/
/* セレクトボックス */
.Select-wrap{
  position: relative;
  margin: 4px 0;
}
.Select-wrap::before,
.Select-wrap::after{
  position: absolute;
  left: 100%;
  pointer-events: none;
  content: "";
}
.Select-wrap::before{
  width: 44px;
  height: 100%;
  margin-left: -44px;
  border-radius: 0 4px 4px 0;
  background: #3f5d26;
}
.Select-wrap::after{
  top: 50%;
  width: 0;
  height: 0;
  margin: -5px 0 0 -32px;
  border-width: 12px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
}

.Custom-select{
  width: 210px;
  height: 35px;
  padding: 0 42px 0 18px;
  border-radius: 4px;
  border: 1px solid #3f5d26;
}
.Custom-select::-ms-expand{
  display: none;
}
.Select-wrap-cancel{
  margin: auto;
}

.Select_cancel_label{
	background:#f0fff0;
  border-radius: 4px;
  border: 1px solid #3f5d26;
}

.Select_cancel_value{
	padding: 2px;
}

/*----------------------------------------------------*/
/*アコーディオンメニュー用*/
/*----------------------------------------------------*/

/* リセットCSS */
/*
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*/

/* アコーディオンメニュー全体のサイズ・位置 */

/* クリック領域 */
.ac-parent {
  height: 50px;
  border-bottom: 1px solid #fff;
  background-color: #f97148;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

/* クリックしたら表示される領域 */
.ac-child {
  display: none;
  background-color: #ffccbc;
  text-align: top;
}

/* drop down
-----------------------------------------*/
/* link */
.mod_dropnavi ul li a{
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.mod_dropnavi ul li a:link    {text-decoration:none;}
.mod_dropnavi ul li a:visited {text-decoration:none;}
.mod_dropnavi ul li a:hover   {text-decoration:none;}
.mod_dropnavi ul li a:active  {text-decoration:none;}

/* mod_dropnavi */
.mod_dropnavi>ul{
    height:45px;
    /*border-bottom:solid 3px #003700;
    background-color:#336600;*/
    margin:0;
    padding:0;
    list-style:none;
}
.mod_dropnavi>ul>li{
    width:100px;
    float:left;
    position:relative;
    text-align:center;
    line-height:45px;
    /*border-right:solid 1px #003700;*/
}
/*
.mod_dropnavi>ul>li>a{
  display:block;
    color:#FFFFFF;
    font-weight:bold;
  border-bottom:solid 3px #003700;
}
*/
.mod_dropnavi>ul>li>a:hover   {border-bottom:solid 3px #336600;}
.mod_dropnavi>ul>li>a:active  {border-bottom:solid 3px #336600;}

/* mod_dropnavi_child */
.mod_dropnavi .mod_dropnavi_child{
  display:none;
  position:absolute;
  top:40px;
  /*left:0px;*/
  right:0px;
  z-index:99;
  padding:12px 0 0 0!important;
  /*background:transparent url('img/icon_arrow_01.png') no-repeat 10px 0px!important;*/
}
.mod_dropnavi .mod_dropnavi_child ul{
 padding:4px 27px 16px 27px!important;
 background-color:#778899;
}
.mod_dropnavi .mod_dropnavi_child ul li{
 font-size:90%;
 line-height:1.3;
 text-align:left;
 margin:12px 0 0 0!important;
 white-space:nowrap;
}
.mod_dropnavi .mod_dropnavi_child ul li a{
  padding:0 0 0 12px!important;
  display:inline-block;
    /*background:transparent url('img/icon_arrow_02.png') no-repeat left 5px!important;*/
}
.mod_dropnavi .mod_dropnavi_child ul li a:link    {color:#FFF; text-decoration:none;}
.mod_dropnavi .mod_dropnavi_child ul li a:visited {color:#FFF; text-decoration:none;}
.mod_dropnavi .mod_dropnavi_child ul li a:hover   {color:#FFF; text-decoration:underline;}
.mod_dropnavi .mod_dropnavi_child ul li a:active  {color:#FFF; text-decoration:underline;}


.mod_dropnavi .mod_dropnavi_child ul li button{
  padding:0 0 0 12px!important;
  display:inline-block;
  color: #FFF;
  font-size:100%;
}
.mod_dropnavi .mod_dropnavi_child ul li button:link    {color:#FFF; text-decoration:none;}
.mod_dropnavi .mod_dropnavi_child ul li button:visited {color:#FFF; text-decoration:none;}
.mod_dropnavi .mod_dropnavi_child ul li button:hover   {color:#FFF; text-decoration:underline;}
.mod_dropnavi .mod_dropnavi_child ul li button:active  {color:#FFF; text-decoration:underline;}


.button-area{
  display: flex;
  justify-content: center;
}
.button-open {
  display: block;
  margin: 0 auto;
  width: 20rem;
  padding: 1em;
  background: green;
  color: #eaeaea;
  border-radius: 20rem;
  cursor: pointer;
}
.button-confirm {
  display: block;
  margin: 0 auto;
  width: 20rem;
  padding: 1em;
  background: green;
  color: #eaeaea;
  border-radius: 20rem;
  cursor: pointer;
}
.button-return {
  display: block;
  margin: 0 auto;
  width: 20rem;
  padding: 1em;
  background-color: #808080;
  color: #eaeaea;
  border-radius: 20rem;
  cursor: pointer;
}
.button-update {
  display: block;
    margin: 0 auto;
  width: 20rem;
  padding: 1em;
  background: green;
  color: #eaeaea;
  border-radius: 20rem;
  cursor: pointer;
}
/* モーダルウィンドウ */
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #f0f8ff;
  border-radius: 5px;
  z-index: 11;
  padding: 2rem;
}
/* 閉じるボタン */
.button-close {
  position: absolute;
  top: 0%;
  left: 100%;
  border: none;
  border-radius: 4px;
}

/*オーバレイ*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* 表示領域外へはスクロールさせない */
.no_scroll {
  overflow: hidden;
}