@charset "utf-8";

@import
	"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
	;

form {
	display: flex;
	justify-content: center;
}

label {
	font-size: 20px;
}

label[active] {
	color: white;
	background-color: #a1b91d;
}

input[type="tel"] {
	outline: none;
	border-style: solid;
	border-width: 1px;
	background: white;
	height: 30px;
	font-size: 18px;
	padding: 5px;
	border-color: #4d600b;
}

input[type="text"] {
	outline: none;
	border-style: solid;
	border-width: 1px;
	background: white;
	height: 30px;
	width: 200px;
	font-size: 18px;
	padding: 5px;
	border-color: #4d600b;
}

.form-group {
	display: flex;
	margin-right: auto;
	justify-content: start;
	flex-direction: column;
	margin: 1, 4rem;
	clear: both;
	padding: 1.4rem;
}

.column {
	display: flex;
	flex-direction: column;
	clear: both;
	justify-content: start;
	height: 110px;
	width: 250px;
}

.column[border] {
	display: flex;
	flex-direction: column;
	clear: both;
	justify-content: start;
	width: 250px;
	border: solid 1px #4d600b;
	margin-bottom: 10px;
	height: 75px;
}

.columnName[border] {
	margin-bottom: 0.1rem;
	background-color: #a1b91d;
	padding: 0 5px;
}

.columnName[padding] {
	padding: 0 5px;
}

.subname {
	font-size: 18px;
	margin: 0 7px;
}

.buttons {
	display: flex;
	justify-content: end;
}

.confirmButton {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 0.1px;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	background-color: #a1b91d;
	color: #fff;
	margin-top: 30px;
	padding: 10px;
	width: 110px;
	font-size: 23px;
}

.cancelButton {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 0.1px;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	background-color: white;
	color: #4d600b;
	margin-right: 30px;
	margin-top: 30px;
	padding: 10px;
	width: 110px;
	font-size: 23px;
}

.title {
	font-size: 30px;
	font-weight: 2;
	margin: 40px 120px 0 0;
	color: white;
	background-color: #a1b91d;
	padding: 5px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 1px 0 1px;
}

.titleComplete {
	font-size: 30px;
	font-weight: 2;
	margin: 40px 520px 0 0;
	color: white;
	background-color: #a1b91d;
	padding: 5px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 1px 0 1px;
}

.subTitleInput {
	font-size: 21px;
	font-weight: 2;
	margin: 0 0 0 0;
	background: #bdc3c7;
	color: #869198;
	padding: 9px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 0px 0 1px;
}

.subTitleConfirm {
	font-size: 21px;
	font-weight: 2;
	margin: 0 0 0 0;
	background: #bdc3c7;
	color: #869198;
	padding: 9px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 1px 0 1px;
}

.subTitleCompletion {
	font-size: 21px;
	font-weight: 2;
	margin: 0 0 0 0;
	background: #bdc3c7;
	color: #869198;
	padding: 9px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 1px 0 0;
}

.message {
	font-size: 15px;
	color: #ff0000;
	font-weight: bold;
}

.main {
	display: flex;
	gap: 0px 15px;
	border: solid 1.5px #4d600b;
	border-width: 1.5px;
	padding: 15px;
	background-color: white;
}

.form-group input {
	display: block;
}

.columnName {
	margin-bottom: 0.1rem;
}

.line {
	display: flex;
	justify-content: start;
}

.four {
	width: 51px;
}

.two {
	width: 32px;
}

.selectButton {
	display: flex;
	padding-bottom: 3.5rem;
}

.selectButton input {
	display: none;
	font-size: 18px;
}

.selectButton label {
	float: left;
	cursor: pointer;
	width: 80px;
	margin: 0;
	padding: 8px 13px;
	background: #bdc3c7;
	color: #869198;
	text-align: left;
	font-size: 23px;
	height: 59px
}

.selectButton label:first-of-type {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 1px 0 1px 1px;
	border-radius: 3px 0 0 3px;
}

.selectButton label:last-of-type {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 1px 1px 1px 0px;
	border-radius: 0 3px 3px 0;
}

.selectButton input[type="radio"]:checked+label {
	background-color: #a1b91d;
	color: #fff;
}

.select {
	position: relative;
	display: block;
	margin: 0 0;
	width: 100%;
	max-width: 160px;
	color: #fff;
	vertical-align: middle;
	text-align: left;
	user-select: none;
	-webkit-touch-callout: none;
}

.select .placeholder {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 0.1px;
	position: relative;
	display: block;
	background-color: #a1b91d;
	z-index: 1;
	padding: 0.3em 0.7em;
	border-radius: 5px;
	cursor: pointer;
	font-size: 23px;
}

.select .placeholder:hover {
	background-color: #7f9e12;
}

.select .placeholder:after {
	position: absolute;
	right: 0.5em;
	top: 50%;
	transform: translateY(-50%);
	font-family: "FontAwesome";
	content: "\f078";
	z-index: 10;
}

.select.is-open .placeholder:after {
	content: "\f077";
}

.select.is-open ul {
	display: block;
}

.select.select--white .placeholder {
	background: #fff;
	color: #999;
}

.select.select--white .placeholder:hover {
	background: #fafafa;
}

.select ul {
	display: none;
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	top: 100%;
	left: 0;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
	z-index: 100;
	max-height: 120px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.select ul li {
	display: block;
	text-align: left;
	padding: 0.1em 0.5em;
	color: black;
	cursor: pointer;
}

.select ul li:hover {
	background: #7f9e12;
	color: #fff;
}
