@charset "utf-8";

@import
	"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
	;

form {
	display: flex;
	justify-content: center;
}

label {
	font-size: 20px;
}

label[active] {
	color: white;
	background-color: #a1b91d;
}

input[type="tel"] {
	outline: none;
	border-style: solid;
	border-width: 1px;
	background: white;
	height: 30px;
	font-size: 18px;
	padding: 5px;
	border-color: #4d600b;
}

input[type="text"] {
	outline: none;
	border-style: solid;
	border-width: 1px;
	background: white;
	height: 30px;
	width: 200px;
	font-size: 18px;
	padding: 5px;
	border-color: #4d600b;
}

.form-group {
	display: flex;
	margin-right: auto;
	justify-content: start;
	flex-direction: column;
	margin: 1, 4rem;
	clear: both;
	padding: 1.4rem;
}

.column {
	display: flex;
	flex-direction: column;
	clear: both;
	justify-content: start;
	height: 110px;
	width: 250px;
}

.column[border] {
	display: flex;
	flex-direction: column;
	clear: both;
	justify-content: start;
	width: 250px;
	border: solid 1px #4d600b;
	margin-bottom: 10px;
	height: 75px;
}

.columnName[border] {
	margin-bottom: 0.1rem;
	background-color: #a1b91d;
	padding: 0 5px;
}

.columnName[padding] {
	padding: 0 5px;
}

.subname {
	font-size: 18px;
	margin: 0 7px;
}

.buttons {
	display: flex;
	justify-content: end;
}

.confirmButton {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 0.1px;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	background-color: #a1b91d;
	color: #fff;
	margin-top: 30px;
	padding: 10px;
	width: 110px;
	font-size: 23px;
}

.cancelButton {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 0.1px;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	background-color: white;
	color: #4d600b;
	margin-right: 30px;
	margin-top: 30px;
	padding: 10px;
	width: 110px;
	font-size: 23px;
}

.title {
	font-size: 30px;
	font-weight: 2;
	margin: 40px 120px 0 0;
	color: white;
	background-color: #a1b91d;
	padding: 5px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 1px 0 1px;
}

.titleComplete {
	font-size: 30px;
	font-weight: 2;
	margin: 40px 520px 0 0;
	color: white;
	background-color: #a1b91d;
	padding: 5px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 1px 0 1px;
}

.subTitleInput {
	font-size: 21px;
	font-weight: 2;
	margin: 0 0 0 0;
	background: #bdc3c7;
	color: #869198;
	padding: 9px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 0px 0 1px;
}

.subTitleConfirm {
	font-size: 21px;
	font-weight: 2;
	margin: 0 0 0 0;
	background: #bdc3c7;
	color: #869198;
	padding: 9px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 1px 0 1px;
}

.subTitleCompletion {
	font-size: 21px;
	font-weight: 2;
	margin: 0 0 0 0;
	background: #bdc3c7;
	color: #869198;
	padding: 9px 20px;
	border-style: solid;
	border-color: #4d600b;
	border-width: 1px 1px 0 0;
}

.message {
	font-size: 15px;
	color: #ff0000;
	font-weight: bold;
	height:20px;
}

.main {
	display: flex;
	gap: 0px 15px;
	border: solid 1.5px #4d600b;
	border-width: 1.5px;
	padding: 15px;
	background-color: white;
}

.form-group input {
	display: block;
}

.columnName {
	margin-bottom: 0.1rem;
}

.line {
	display: flex;
	justify-content: start;
}

.four {
	width: 51px;
}

.two {
	width: 32px;
}

.selectButton {
	display: flex;
	padding-bottom: 3.5rem;
}

.selectButton input {
	display: none;
	font-size: 18px;
}

.selectButton label {
	float: left;
	cursor: pointer;
	width: 80px;
	margin: 0;
	padding: 8px 13px;
	background: #bdc3c7;
	color: #869198;
	text-align: left;
	font-size: 23px;
	height: 59px
}

.selectButton label:first-of-type {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 1px 0 1px 1px;
	border-radius: 3px 0 0 3px;
}

.selectButton label:last-of-type {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 1px 1px 1px 0px;
	border-radius: 0 3px 3px 0;
}

.selectButton input[type="radio"]:checked+label {
	background-color: #a1b91d;
	color: #fff;
}

.select {
	position: relative;
	display: block;
	margin: 0 0;
	width: 100%;
	max-width: 160px;
	color: #fff;
	vertical-align: middle;
	text-align: left;
	user-select: none;
	-webkit-touch-callout: none;
}

.select .placeholder {
	border: solid;
	box-sizing: border-box;
	border-color: #4d600b;
	border-width: 0.1px;
	position: relative;
	display: block;
	background-color: #a1b91d;
	z-index: 1;
	padding: 0.3em 0.7em;
	border-radius: 5px;
	cursor: pointer;
	font-size: 23px;
}

.select .placeholder:hover {
	background-color: #7f9e12;
}

.select .placeholder:after {
	position: absolute;
	right: 0.5em;
	top: 50%;
	transform: translateY(-50%);
	font-family: "FontAwesome";
	content: "\f078";
	z-index: 10;
}

.select.is-open .placeholder:after {
	content: "\f077";
}

.select.is-open ul {
	display: block;
}

.select.select--white .placeholder {
	background: #fff;
	color: #999;
}

.select.select--white .placeholder:hover {
	background: #fafafa;
}

.select ul {
	display: none;
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	top: 100%;
	left: 0;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
	z-index: 100;
	max-height: 120px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.select ul li {
	display: block;
	text-align: left;
	padding: 0.1em 0.5em;
	color: black;
	cursor: pointer;
}

.select ul li:hover {
	background: #7f9e12;
	color: #fff;
}

.dummyForm{
	display: flex;
	justify-content: center;
}

table { 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(even) { 
	background: #f5f5f5; 
	}



td, th { 
	padding: 10px; 
	text-align: left; 
	font-size: 18px;
	border: 1px solid black; 
	}

	td:last-child{ 
	display:none;
	}
	
	
	tr:hover{
		background-color: #f1ffe5;
		cursor:pointer;
	}

th { 
	background:  #a1b91d;
	color: white; 
	font-weight: bold; 
			cursor:default;
	}
	
	
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
  }
  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }

.modal-content{
	border:none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  background-color: #fff;
  width: 400px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  backface-visibility: hidden;
  height:600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.modal .close-modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  backface-visibility: hidden;
}
.modal .close-modal svg {
  width: 1.75em;
  height: 1.75em;
}
.modal .modal-content {
  opacity: 0;
  backface-visibility: hidden;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal.active .modal-content {
  opacity: 1;
  align-items: center;
}
.modal.active .close-modal {
  opacity: 1;
}

.modalcenter {
	align-items: center;
	display:flex;
	justify-content: center;
	padding: 20px;
}

.modalcolumn {
	display: flex;
	flex-direction: column;
	clear: both;
	justify-content: center;
	height: 120px;
	width: 250px;
	align-items: center;
}

div.container {
  margin: auto 0;
  width: 200px;
  background-color: transparent;
  text-align: center;
}

div.dropdown {
  position: relative;
}

div.dropdown > div.caption {
  padding: 6px 0 5px  24px;
  border-radius: 3px;
  cursor: pointer;
  text-align: right;
  text-decoration: underline;
  color: #0044cc;
}

div.dropdown > div.list {
  position: absolute;
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 0 0 3px 3px;
  display: none;
}

div.dropdown > div.list > div.item {
  padding: 5px 24px;
  cursor: pointer;
}

div.dropdown > div.list > div.item.selected {
  font-weight: bold;
}

div.dropdown > div.list > div.item:hover {
  background-color: #7f9e12;
  color: #fff;
}

div.dropdown.open > div.list {
  display: block;
  border: solid 1px green;
  box-shadow: 10px 5px 5px #ebebeb;
}

.dropdownButton{
	border: 1px solid transparent;
	background-color: transparent;
}

.modalTitle{
	font-size: 2rem;
	font-weight: bold;
}